
/*========== DESKTOP ==================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
}

html, body {
    width: 100%;
    height: 100%;
}
body, button, input {
    background: hsl(0, 0%, 98%);
    font-size: 1.4rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(0, 0%, 15%);;
    line-height: 1.8rem;
}
section {
    height: 100vh;
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
select {
    border: none;
}

form{
    padding-bottom: 2rem;
}

.col-a {
    grid-area: A;
    
    align-self: center;

    background-image: url(./assets/img/img-back.png);
    background-position: 4rem 0;
    background-size: 46.832rem 63.415rem;
    background-repeat: no-repeat;
    
    height: 58.115rem;
    margin-bottom: 1.2rem;
}

.col-b {
    grid-area: B;
}


/*========== MAIN ===================*/

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    width: 100%;
    max-width: 93.5rem;
    margin-inline: auto;

    padding-bottom: 3.2rem;
    margin-top: 3.2rem;
}
.image {
    display: flex;
    margin: 2.7rem 0 0 19.7rem;
    position: relative;

    width: 26.73rem;
}

.image .img {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    height: 53.884rem;
    width: 25rem;
}

.image .show-img {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease-in;
    z-index: 5;
}

.image .hide-img {
        opacity: 0;
        transition: opacity 1s ease-out;
        visibility: visible;
}
.main .col-b {
    margin-top: 1.3rem;
    max-width: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3.2rem;
}
.col-b__form-container {
    border: .1rem solid hsl(0, 0%, 86%);
    border-radius: .1rem;
    margin-bottom: 1rem;
    
    background-color: hsl(0, 0%, 100%);
}
.img-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.logo {
    margin-block: 4.1rem 1.8rem;
}

form .form-element{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    margin-inline: 4rem;
    margin-block: 3.6rem .5rem;
}

.input-wrapper {
    margin-inline: 4rem;
    margin-block: 0 .6rem;
    width: fit-content;
    margin: auto;
    max-width: 26.8rem;
}

.input-border {
    display: flex;
    align-items: center;
    flex-direction: row;

    position: relative;

    background: hsl(0, 0%, 98%);
    border: .1rem solid hsl(0, 0%, 86%);
    border-radius: .3rem;

    color: hsl(0, 0%, 15%);
    font-size: 1.4rem;

    width: 100%;
}

.input-label {
    display: flex;
    flex: 1 0 0;
    position: relative;

    height: 3.6rem;
    width: 26.8rem;
    margin-block:.8rem;

    margin: 0;
    padding: 0;

    font-size: 1.6rem;
    text-align: left;
}

.input-hint {
    height: 3.6rem;

    color: rgba(142,142,142);
    font-size: 1.2rem;
    line-height: 3.6rem;
    text-overflow: ellipsis;

    overflow: hidden;
    pointer-events: none;
    
    position: absolute;
    right: 0;
    left: .8rem;
    transform-origin: left;
    
    transition: transform ease-out .1s;
    
    user-select: none;
    white-space: nowrap;
}

/*ADD CLASS WHITH JS */
.input-onfocus{
    transform: scale(.83333) translateY(-10px);

}
.input-label .input-credentials {
    background: rgba(250,250,250);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;

    padding: .9rem 0 .7rem .8rem;

    text-overflow: ellipsis;

    font-size: 1.6rem;
    text-align: left;
}

.show-pwd-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    height: 100%;
    padding-right: .8rem;
}

/*ADD CLASS WHITH JS */
.input-text-onwriting {
      font-size: 12rem;
      padding: 1.4rem 0 .2rem .8rem !important;

  }

  .show-pwd-item {
      display: flex;
      align-content: stretch;
      align-items: stretch;
      justify-content: flex-start;
  }

  .show-pwd-btn {
      display: block;

      font-weight: 600;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 1.4rem;

      cursor: pointer;
      appearance: none;

      background: 0 0;
      background-color: rgba(0, 0, 0, 0);

      border: 0;
      padding: .5rem .9rem;
      width: auto;
      padding: 0;
      position: relative;
  }

input[type="submit"] {
    background-color: hsla(204, 100%, 48%, 0.3);
    opacity: 1;
    border: none;
    width: 26.8rem;
    padding-inline: .9rem;
    padding-block: .6rem;
    margin-block: .8rem;

    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Segoe UI";
    color: hsl(0, 0%, 100%);
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: .2rem;
    margin-block: .5rem;
    flex-shrink: 0;
    gap: 1.8rem;
}
.line h4 {
    text-transform: uppercase;
    color: hsl(0, 0%, 56%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.line-left,
.line-right {
    background-color: hsl(0, 0%, 86%);
    height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
}
.login-btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: 4rem;
    margin-block: .8rem;
}
.login-btn-wrapper button{
    display: inline-block;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    font-family:"Segoe UI";
    font-size: 1.4rem;
    font-weight: 600;
    padding: .5rem .9rem;
    text-align: center;
    line-height: 1.8rem;
}

.login-btn-wrapper button span:nth-child(1){
    background-image: url(/assets/img/fb-logo1.png);
    background-repeat: no-repeat;
    background-position: -41.4rem -25.9rem;

    height: 1.6rem;
    width: 1.6rem;

    display: inline-block;
    margin-right: .4rem;

    position: relative;
    top: .3rem;
}
.login-btn-wrapper button span:nth-child(2){
    color: hsl(221, 41%, 37%);;
}
._password{
    color: hsl(209, 100%, 21%);
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    text-align: center;
}

.container-signup {
    background-color: hsl(0, 0%, 100%);

    border: 1px solid hsl(0, 0%, 86%);
    border-radius: .1rem;

    margin-bottom: 1rem;
    padding-block: 1rem;

}

.signup p {
    color: hsl(0, 0%, 15%);
    font-size: 1.4rem;
    margin: 1.3rem;
    text-align: center;
}
.signup a {
    color: hsl(204, 100%, 48%);
    font-weight: 600;
}
.stores-container {
    display: flex;
    flex-direction: column;
}

.stores-container p {
    color: hsl(0, 0%, 15%);
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: center;
}

.stores {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    gap: .8rem;
}

.stores a img {
    height: 4rem;
    width: 100%;
}

/* ================ MOBILE =================== */

@media (min-width: 875px) {
    .main {
        display: inital;
        margin: initial;
        padding: initial;
        width: initial;
    }
    .col-a {
        display: inital;
    }

    .main div.col-b{
        margin-top: 1.3rem;
        margin-inline: auto;
        justify-content: center;
    }
}